<!-- Login Form -->
<div class="form-container">
  <h2>Movie Base Demo!</h2>
  <img src="assets/images/filler_movie.png" id="movie">

  <!-- If any errors occur from auth or routing display them -->
  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <!-- Three Login Methods (Facebook, Google, or Email) -->
  <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
  <button (click)="loginGoogle()" id="google">Login With Google</button>
  
  <!-- Email button routes client to Email login page -->
  <button routerLink="/login-email" id="email">Email</button>

  <!-- Link routing client to sign-up page -->
  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Sign up here!</strong></a>
</div>