<div class="form-container">
    <a routerLink="/login" id="prevpage">Previous Page</a>
    <h2>Email Login</h2>
    
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <!-- Email login form -->
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

      <input type="text" placeholder="Email Address..." (ngModel)="email" name="email" class="txt" required>
      <input type="password" placeholder="Password..." (ngModel)="password" name="password" class="txt" required>
      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Log in</button>

      <!-- Route client to sign-up page (same as in login.html) --> 
      <a routerLink="/signup" class="alc">No account? <strong>Sign up here!</strong></a>
  </form>
</div>