<div class="form-container">
  <a routerLink="/login" id="prevpage">Previous Page</a>
  <h2>Create Account</h2>

  <!-- Display if any error while creating account (validation) -->
  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <!-- Email sign-up form -->
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
    <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>

    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
  </form>
</div>